* {
    box-sizing: border-box;
}
body {
    background-color: #E6E6E6;
    font-family: 'Abel', sans-serif;

}


nav a {
    font-size: .75em;
    color: black;
}

.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}

nav .nav-item {
    position: relative;
    bottom: 6px;
}
h1, h2 {
    font-family: 'Anton', sans-serif;
    text-align: center;


}

.flex-container {
    background-color: #E6E6E6;
    justify-content: center;
    display: flex;
    color: white;
    font-family: 'Anton', sans-serif;
    /*line-height: 1.50;*/
    text-align: center;
}

.circle {
    background-color: #f1f1f1;
    height: 100px;
    width: 100px;
    /*padding: 29px;*/
    border: white 8px solid;
    /*margin: 17px;*/
    border-radius: 50%;

}

.circleText {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
    line-height: 5.5;
}


h3 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.div {
    text-color: #F0F0F0;

}

.img-thumbnail {
    display: flex;


}

.imgTxt {
    display: flex;

}
