body {
    background-color: #E6E6E6;
    font-family: abel-regular;


}


    nav a {
        font-size: .75em;
        color: black;
    }

    .nav-background {
        position: absolute;
        margin: 0;
        padding: 0;
        height: 59px;
        width: 100%;
        top: 37px;
        z-index: -1000;
    }

    nav .nav-item {
        position: relative;
        bottom: 6px;
    }
h1, h2 {
    font-family: 'Anton', sans-serif;
    text-align: center;

}

.flex-container {
    background-color: #E6E6E6;
    justify-content: center;
}

.flex-container {
    display: flex;

}

.flex-container > div {
    background-color: #f1f1f1;
    height: 100px;
    width: 100px;
    padding: 29px;
    border: white 8px solid;
    margin: 17px;
    border-radius: 50%;

}
.div {
    text-color: #F0F0F0;

}
